@import url(https://allfont.net/allfont.css?fonts=digital-7-mono);
body {
  text-align: center;
}
h1 {
  font-family: "Digital-7 Mono";
  font-size: 50px;
}

.calculator_body {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}
#result_box {
  text-align: right;
  background-color: rgb(5, 5, 5);
  height: 70px;
  width: 290px;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 49px;
  font-family: "Digital-7 mono", arial;
  color: white;
}
.button_box {
  background: #0c2835;
  text-align: center;
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.button {
  display: grid;
  color: white;
  background: #0c2835;
  place-items: center;
  height: 60px;
  width: 60px;
  border: 1px solid white;
}
.button:active {
  background: #39d40a;
}
